.aboutMentor--content {
  color: white;
  margin: 25vh 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}


.aboutMentor--textContent {
  flex-basis: 70%;
  text-align: center;
  padding: 0 50px;
}

.aboutMentor--imgsHolder {
  flex-basis: 30%;
  text-align: center;
}


.aboutMentor--img {
  border-radius: 50%;
  max-width: 50%;
}

.aboutMentor--name {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 20px;
}

.aboutMentor--text {
  font-size: 20px;
}
