.header--content {
  color: white;
  margin: 80px 0;
  display: flex;
  gap: 40px;
  align-items: baseline;
}

.header--moto {
  font-family: 'Rubik', sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
}

.header--text {
  font-size: 20px;
}

.header--textContent {
  flex-grow: 1;
  text-align: center;
}

.header--imgsHolder {
  position: relative;
  /* height: fit-content; */
  flex-basis: 40%;
}


.header--img {
  position: relative;
  border-radius: 50%;
  max-width: 45%;
}

.header--img2 {
  top: 80px;
  left: 20px
}

.header--img3 {
  left: 10%;
  top: 20px;
}
